<ion-header>
  <ion-navbar>
    <ion-title>iWhether</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid>

    <ion-row *ngIf="clima">
      <ion-col width-50 offset-25>
        <h2 class="location">{{cidade}}</h2>
        <div class="icon"><img src="{{img}}"></div>
        <h3 class="desc"></h3>
        <h1>Region: {{regiao}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-100>
        <ion-list>

          <ion-item>
            <strong>Temp: </strong>{{temperatura}}
          </ion-item>

          <ion-item>
            <strong>Relative Humidity: </strong>{{umidade}}
          </ion-item>

          <ion-item>
            <strong>Visibility: </strong>{{visibilidade}}
          </ion-item>

          <ion-item>
            <strong>Precipitation: </strong>{{precipitacao}}
          </ion-item>

          <ion-item>
            <strong>Clime: </strong>{{clima}}
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
