<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
       <ion-grid>
         <ion-row>
           <ion-col width-100>
             <ion-list>
               <form (ngSubmit) = "saveForm()">

                 <ion-item>
                   <ion-label fixed>
                     City:
                   </ion-label>
                   <ion-input [(ngModel)]="cidade" name="cidade" type="text">
                   </ion-input>
                 </ion-item>

                 <ion-item>
                   <ion-label fixed>
                     Temperature:
                   </ion-label>
                   <ion-input [(ngModel)]="temperatura" name="temperature" type="text">
                   </ion-input>
                 </ion-item>
                 <button ion-button type="submit" block>Save Changes</button>
               </form>
             </ion-list>
           </ion-col>
         </ion-row>
       </ion-grid>
</ion-content>
